body {
    background-color: #8C9EFF;
    text-align: center;
  }
  
  h1 {
    background-color: #304FFE;
    color: #ECEFF1;
    font-family: sans-serif;
  }
  
  p {
    color: #ECEFF1;
    font-family: sans-serif;
  }